.info {
  &.file-info {
    width: 100%;
    .profile-image {
      float: left;
      width: 120px;
      height: 120px;
      margin-right: 10px;
    }
    .file-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
    .file-size {
      margin-left: 140px;
      font-size: 20px;
      font-weight: bold;
    }
    .file-parents {
      margin-left: 140px;
      font-size: 13px;
    }
    .file-link {
      margin-left: 140px;
      font-size: 20px;
    }
  }

  &.folder-info {
    .profile-image {
      float: left;
      width: 120px;
      height: 120px;
      margin-right: 10px;
    }
    .folder-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
    .folder-size {
      margin-left: 140px;
      font-size: 20px;
      font-weight: bold;
    }
    .folder-parents {
      margin-left: 140px;
      font-size: 13px;
    }
    .folder-link {
      margin-left: 140px;
      font-size: 20px;
    }
  }

  &.site-info {
    .site-image {
      float: left;
      width: 120px;
      height: 120px;
      margin-right: 10px;
    }
    .site-name {
      margin-left: 140px;
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      width: calc(100% - 140px);
      width: -webkit-calc(100% - 140px);
      width: -moz-calc(100% - 140px);
      word-wrap: break-word;
    }
  }

  &.user-info {
    .profile-image {
      display: table;
      margin: 0 auto;
      height: 160px;
    }
    .user-name {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .user-email {
      text-align: center;
      font-size: 20px;
    }
  }

  &.ip-info {
    .ip-address {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .ip-country, .ip-city {
      text-align: center;
      font-size: 20px;
    }
  }

  &.user-application-count {
    .count {
      display: table;
      margin: 0 auto;
      font-size: 50px;
      font-weight: bold;
    }
  }

  &.application-info {
    .application-image {
      display: table;
      margin: 0 auto;
      height: 160px;
    }

    .application-name {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
  }

  &.group-info {
    .group-image {
      display: table;
      margin: 0 auto;
      height: 160px;
    }
    .group-name {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
    }
    .group-email {
      text-align: center;
      font-size: 20px;
    }
  }
}