<div id="breadcrumb" ng-if="!sideMenuManager.fullscreen()">
    <div ng-if="route.current.fullTitle" class="full-title" ng-bind-html="route.current.fullTitle"></div>
    <div ng-if="!route.current.fullTitle" class="title">{{route.current.title}}</div>
    <ul class="breadcrumb">
        <li><a href="/#!/">Home</a></li>
        <li class="active">{{route.current.title}}</li>
    </ul>
</div>
