#breadcrumb {
  padding: 20px 20px 0px 20px;
  .title, .full-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #464d57;
  }
  .title {
    font-weight: bold;
  }

  .breadcrumb {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: transparent;
    padding: 0px;
    margin-bottom: 0;
    font-size: 11px;
    box-shadow: 0 1px 0 #ffffff;
    -moz-box-shadow: 0 1px 0 #ffffff;
    -webkit-box-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px #ffffff;

    li {
      line-height: 27px;
      color: #464d57;
    }

    a {
      text-decoration: underline;
      color: #464d57;
    }
  }
}