.policy {
  .panel .panel-body {
    overflow: visible !important;

    &.minimizing {
      overflow: hidden !important;
    }
  }

  .results-panel:not(.right_panel) {
    width: auto !important;
  }
  .splitter_panel {
    .left_panel, .right_panel {
      overflow: visible !important;
      background-color: #f9f9fa;
    }

    .right_panel {
      z-index: 2;
    }
  }

  .excluded-objects {
    margin-left: 10px;
    margin-top: 10px;
    .list-selector {
      width: 100%;

      .select2-choices {
        background-color: #fff;
        border: 1px solid #d5d7da;
        height: 34px;
        border-radius: 0px;
      }
    }
  }

  .execute, .execute:hover, .recheck, .recheck:hover {
    float: right;
    width: 105px;
    margin: 12px 0px 12px 5px;
  }

  .policy-options-panel {
    clear: both;
  }

  .policy-progress {
    margin-top: 6px;
    height: 27px;
    width: 300px;
    background-color: #2980b9;
    > .progress-bar {
      background-color: #255484;
    }

    .label > span {
      color: #FFF;
      font-size: 11px;
      line-height: 22px;
      font-weight: 600;
    }
  }

  .query-results {
    clear: both;
    .results-table.avanan-table {
      .table-wrapper {
        overflow-x: auto;
      }
      th {
        background-color: #e1e2e2;
      }
      .excluded td, .excluded:hover td{
        background: #FFAAAA;
      }
    }
  }

  .root-condition-group {
    margin: 11px 0px 0px 0px !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }

  .actions-column {
    width: 150px;
  }
}