<div ng-if="initialized" class="policy padding-md">
    <div splitter="splitterOptions" class="pretty-splitter">
        <div widget-panel="policyDefinitionsPanel" ng-show="showPolicy">
            <button class="btn btn-blue execute" ng-click="updatePolicy()">Update policy</button>
            <button class="btn btn-blue recheck" ng-click="recheckPolicy()">Recheck policy</button>
            <div widget-panel="policyOptionsPanel" class="policy-options-panel">
                <div ng-if="!model.templateName" policy-options="model" saas-list="internalModel.saasList" sources="internalModel.sources" properties="internalModel.properties" existed="true"></div>
                <div ng-if="model.templateName" policy-template-options="model" sources="internalModel.sources" property-types="internalModel.propertyTypes" properties="internalModel.properties" action-types="internalModel.actionTypes"></div>
            </div>
            <div ng-if="!model.templateName && !isEmpty(internalModel.properties)" widget-panel="includeConditionPanel">
                <div class="root-condition-group" condition-group="model.includeCondition" options="internalModel.properties" property-types="internalModel.propertyTypes" root="true"></div>
            </div>
            <div ng-if="!model.templateName && !isEmpty(internalModel.properties)" widget-panel="excludeConditionPanel">
                <div class="root-condition-group" condition-group="model.excludeCondition" options="internalModel.properties" property-types="internalModel.propertyTypes" root="true"></div>
                <div class="excluded-objects form-inline">
                    <label>Excluded objects:</label>
                    <div list-selector="model.excludeObjects" variants="internalModel.entityIdMap"></div>
                </div>
            </div>
            <div ng-if="!model.templateName && !isEmpty(internalModel.properties)" widget-panel="remediationActionsPanel">
                <div remediation-actions="model.actions" action-types="internalModel.actionTypes[model.entityType]" options="internalModel.properties"></div>
            </div>
            <div widget-panel="jsonPanel">
                <button class="btn btn-blue" ng-click="generateRaw()">Generate raw</button>
                <pre>{{raw | json}}</pre>
            </div>
        </div>
        <div widget-panel="resultsPanel" class="results-panel">
            <div ng-if="tableModel" class="query-results">
                <div class="avanan-table results-table" data-table="tableModel" options="tableOptions"></div>
            </div>
        </div>
    </div>
</div>