<tr ng-class="getLineClass(row, line)"  ng-click="lineClick({line: line})">
    <td ng-if="model.options.expandable">
        <span ng-if="line.isExpandable && line.isExpandable()" class="expand-button fa" ng-class="getExpandableClass(line)"
              ng-click="line.toggleExpand()"></span>
    </td>
    <td ng-if="model.options.checkboxes" class="text-center table-checkbox">
        <input type="checkbox" ng-model="lineSelected({line: line})" ng-model-options="{ getterSetter: true }">
        <span class="custom-checkbox"></span>
    </td>

    <td ng-repeat="column in line" ng-if="!model.columns[$index].hidden" ng-style="model.columns[$index].dataStyle"
        ng-class="model.columns[$index].dataClass">
        <div ng-if="column.img !== undefined">
            <img ng-src="{{column.img.path}}">
        </div>
        <div ng-if="column.tags !== undefined">
            <div ng-repeat="tag in column.tags" alerts-tag="model.tags[tag]" tag-name="tag"></div>
        </div>
        <div ng-if="column.text !== undefined" linked-text="getText({line: line, index:$index})"></div>
    </td>
</tr>