.nice-checkbox {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .nice-checkbox-control {
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    content: "";
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 17px;
    height: 17px;
    line-height: 15px;
    vertical-align: middle;

    &.checked:before {
      content: '\f00c';
      border-color: rgba(0, 0, 0, 0.2);
      font-size: 12px;
      color: #7a7a7a;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px #ffffff;
    }
  }
  .nice-checkbox-text {
    font-size: 12px;
    vertical-align: middle;
    padding-left: 5px;
  }
}