.sub-selector {
  font-family: "Open Sans", sans-serif;

  .menu-separator {
    height: 0px;
    width: 90%;
    margin: 0 5%;
    border-bottom: solid 1px #000000;
  }

  .dropdown-toggle > span {
    font-size: 8px;
    position: absolute;
    right: 8px;
    top: 12px;
  }

  .open {
    display: block !important;
    position: static !important;
    margin-bottom: 5px !important;
    width: 180px !important;
  }

  a {
    font-style: italic;
    &.selectable {
      font-style: normal;
    }
  }

  .menu-back {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
  }
}
