<div class="security-matrix">
    <table ng-if="tableModel">
        <thead>
        <tr class="groups">
            <th ng-repeat="group in tableModel.groups" colspan="{{groupWidth(group)}}">
                <h2>{{group.label}}</h2>
            </th>
        </tr>
        <tr class="items">
            <th ng-repeat="item in tableModel.items">
                <div ng-if="!item.empty">
                    <div class="security-image" ng-style="{'background-image': 'url(' + item.img.path + ')'}"></div>
                    <div class="security-label">
                        <span>{{item.label}}</span>
                    </div>
                </div>
                <div ng-if="item.empty && $index">
                    <a ng-href="{{'#!' + itemLink(item)}}" ng-click="toAppStore($event, item)">ADD</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="application in tableModel.applications">
            <td ng-repeat="item in tableModel.items">
                <div ng-if="$index == 0" class="application" ng-class="{'grayout': application.status != 'active'}">
                    <div class="application-info-wrapper">
                        <div class="application-info">
                            <span class="item-label">{{application.label}}</span><br>
                        </div>
                    </div>
                    <img ng-src="{{application.img.path}}"/>
                </div>
                <div ng-if="!item.empty && $index" class="state"
                     state-switch="application.groups[getItemIndexForColumn($index)].state"
                     ng-click="switchPolicy(application, $index)" qtip2="application.groups[getItemIndexForColumn($index)].tooltip"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>