.select-dropdown.dropdown-menu {
  li a {
    background: #ffffff;
    color: #333333;
    &:hover {
      background: #3c8dbc !important;
      color: #ffffff !important;
    }
    &:focus {
      background: #ffffff;
      color: #333333;
    }
  }
}