<ul class="select-dropdown dropdown-menu" role="menu">
    <li ng-repeat="option in options" ng-click="selectionChanged($event, option)">
        <a href="javascript:void(0);" ng-click="option.state = !option.state;">
            <input type="checkbox" ng-model="option.state" ng-click="selectionChanged($event, option)">
            <span class="custom-checkbox"></span>
            {{option.text}}
        </a>
    </li>
</ul>