.data-table {
  font-size: 13px;
  overflow: visible;
  .table-wrapper {
    width: 100%;
    clear: both;
  }
  .table thead tr th {
    font-size: 18px;
    font-weight: 300;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .table-checkbox {
    width: 25px;
  }

  .table tfoot tr td, .table tfoot tr th, .table thead tr td, .table thead tr th {
    background-color: #e9e9e9;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .table-borderless tbody tr td, .table-borderless tbody tr th {
    border-top-width: 0
  }

  .table tbody + tbody, .table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th, .table thead tr td, .table thead tr th, .table-bordered, .table-bordered tbody tr td, .table-bordered tbody tr th, .table-bordered tfoot tr td, .table-bordered tfoot tr th, .table-bordered thead tr td, .table-bordered thead tr th {
    border-color: #e9e9e9
  }

  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #fcf8e3
  }

  tbody .btn {
    padding: 1px 5px;
    margin: 1px 0px;
    background-color: #EEE;
    box-shadow: 0px 1px 0px #D9D9D9;
    border-color: #D9D9D9;
    border-radius: 0px;

    &:hover {
      background-color: #FFF;
    }
  }

  td > div {
    display: inline-block;
  }

  .panel-actions li {
    height: 30px;
    label {
      display: inline-block;
    }
  }

  .pagination {
    float: right;
    margin: 10px;
  }

  .top-left {
    float: left;
    margin: 10px 20px;

    .button-actions {
      display: inline-block;
      .btn {
        margin-left: 5px;
      }
    }

    .dropdown-actions {
      display: inline-block;
      margin-left: 5px;
      .btn {
        width: 120px;
      }

      .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
        display: block;
      }

      .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
      }
    }

    .toggle-button {
      margin-left: 5px;
      display: inline-block;
    }

    .table-info {
      font-size: 14px;
      font-weight: bold;
      margin-left: 20px;
    }
  }

  &.small-icons {
    td img {
      width: 20px;
      height: 20px;
    }
  }

  &.light {
    .table {
      tfoot tr td, tfoot tr th, thead tr td, thead tr th {
        background-color: #FFFFFF;
        padding-top: 0px;
        padding-bottom: 7px;
        font-size: 12px;
        font-weight: bold;
      }

      tr {
        border: none;
        border-bottom: 1px solid #d5d7da;
        background-color: #FFF;

        &:hover td {
          background-color: #f7f7f8;
        }

      }
    }
  }

  &.vertical-middle {
    .table td {
      vertical-align: middle;
    }
  }

  &.medium-icons {
    img.row-icon {
      max-width: 40px;
      width: 40px;
      height: 40px;
    }
  }

  &.high-light-new {
    .table tr {
      &:not(.new) td {
        -webkit-transition: background-color 500ms ease-out 500ms;
        -moz-transition: background-color 500ms ease-out 500ms;
        -o-transition: background-color 500ms ease-out 500ms;
        transition: background-color 500ms ease-out 500ms;
      }

      &.new td {
        background-color: #f39c12;
      }
    }
  }

  &.avanan-table {
    .top-left {
      float: none;
      width: 100%;
      margin: 0px 0px 10px 0px;

      .filter {
        height: 28px;
        width: 170px;
        border: 1px solid #d5d7da;
        border-radius: 0px;
      }

      .dropdown-actions > .btn {
        width: 90px;
        height: 28px;
        padding-left: 6px;
        padding-right: 6px;
        border: 1px solid #2980b9;
        border-radius: 2px;
        color: #2980b9;
        text-align: left;
        font-size: 11px;
        > span {
          position: absolute;
          right: 4px;
          top: 10px;
          font-size: 8px;
        }
      }

      .button-actions {
        float: right;

        > .btn {
          width: 127px;
          height: 28px;
          padding-top: 7px;
          background-color: #2980b9;
          color: #fff;
          font-weight: 600;
          font-size: 11px;
          border: 0px;
          border-radius: 2px;
        }
      }
    }

    .toggle-button {
      float: right;
      > div:nth-child(1n+2) {
        margin-left: 10px;
      }
    }

    .table {
      tfoot tr td, tfoot tr th, thead tr td, thead tr th {
        background-color: #f5f6f6;
        padding-top: 9px;
        padding-bottom: 7px;
        font-size: 12px;
        font-weight: bold;
      }

      tr {
        td {
          vertical-align: middle;
        }
        border: none;
        border-bottom: 1px solid #d5d7da;
        background-color: #FFF;

        &:hover td {
          background-color: #f0f0f0;
        }

        &:nth-child(2n) {
          background-color: #f9f9fa;
        }
      }

      .custom-checkbox {
        width: 12px;
        height: 12px;
        border: 1px solid #aaaaaa;
        border-radius: 0px;
        font-size: 10px !important;
      }
      input[type="checkbox"]:checked + .custom-checkbox:before {
        font-size: 10px;
        display: block;
        margin-top: -2px;
        margin-left: 1px;
      }
    }

    &.line-selection {
      tr {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.selected-line, &.selected-line td {
          background-color: #2980b9;
          color: #ffffff;

          &:hover {
            background-color: #2980b9;
            color: #ffffff;
          }
        }
      }
    }
  }

  .one-line-date {
    width: 140px;
  }

  .expand-button {
    cursor: pointer;
  }
}