<div class="data-table">
    <ul ng-if="!options.pagination.disableTop && options.pagination !== undefined && model.pagination.total > 1" class="pagination pagination-xs m-top-none">
        <li ng-repeat="page in pages"
            ng-class="{'active': page.active, 'disabled': !page.enabled}">
            <a ng-href="#" ng-click="paginationClicked($event, page)">{{page.title}}</a>
        </li>
    </ul>

    <div ng-if="options.pagination.filter !== undefined || getActions('dropdown-button') || getActions('button') || model.info || model.toggle" class="top-left form-inline">
        <input ng-if="options.pagination.filter !== undefined" ng-model="options.pagination.filter" type="text" class="form-control filter" placeholder="Filter by">

        <div ng-if="getActions('dropdown-button')" class="dropdown-actions dropdown" dropdown>
            <button class="btn btn-default dropdown-toggle form-control" dropdown-toggle>Actions <span class="fa fa-chevron-down"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="action in getActions('dropdown-button')" ng-class="{'dropdown-submenu': action.submenus}">
                    <a href="#" ng-click="executeAction($event, action)" ng-class="{'disabled-link': !actionActive(action)}">{{action.label}}</a>
                    <ul ng-if="action.submenus" class="dropdown-menu">
                        <li ng-repeat="subaction in action.submenus">
                            <a href="#" ng-click="executeAction($event, subaction)" ng-class="{'disabled-link': !actionActive(subaction)}">{{subaction.label}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <span ng-if="model.info" class="table-info">{{model.info}}</span>
        <div ng-if="model.toggle" class="toggle-button">
            <div ng-repeat="button in model.toggle" class="btn btn-blue" ng-model="options.toggleState" btn-radio="button.value">{{button.text}}</div>
        </div>
        <div ng-if="getActions('button')" class="button-actions">
            <div ng-repeat="action in getActions('button')" class="btn btn-default" ng-disabled="!actionActive(action)" ng-click="executeAction($event, action)" ng-style="action.style" ng-class="action.class">{{action.label}}</div>
        </div>
    </div>

    <div class="table-wrapper">
        <table class="general-table table table-borderless table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th ng-if="model.options.expandable"></th>
                <th ng-if="model.options.checkboxes" class="text-center table-checkbox">
                    <input ng-if="!model.options.singleSelection" type="checkbox" ng-model="model.globalSelection" ng-click="updateSelection()">
                    <span ng-if="!model.options.singleSelection" class="custom-checkbox"></span>
                </th>
                <th ng-repeat="column in model.columns" ng-if="!column.hidden" ng-style="column.style" ng-class="column.class" ng-click="changeOrdering($index)">
                    {{getColumnLabel(column)}}
                    <span ng-if="column.sortable" class="fa" ng-class="orderingClass($index)"></span>
                </th>
            </tr>
            </thead>
            <tbody ng-repeat="(row, line) in model.data" ng-if="line.loaded">
                <tr table-row="model" row="row" line="line" line-click="lineClick(line)" get-text="getText(line, index)" line-selected="lineSelected(line)"></tr>
                <tr ng-repeat="subline in line.subrows" table-row="model" row="row" line="subline" line-click="lineClick(line)" get-text="getText(line, index)" line-selected="lineSelected(line)"></tr>
            </tbody>
        </table>
    </div>

    <ul ng-if="!options.pagination.disableBottom && options.pagination != undefined && model.pagination.total > 1" class="pagination pagination-xs m-top-none">
        <li ng-repeat="page in pages"
            ng-class="{'active': page.active, 'disabled': !page.enabled}">
            <a ng-href="#" ng-click="paginationClicked($event, page)">{{page.title}}</a>
        </li>
    </ul>

    <div class="clearfix"></div>
</div>