<div ng-if="!sideMenuManager.fullscreen()" skinned id="top-nav" class="fixed">
    <ul class="nav-notification clearfix">
        <li class="profile dropdown" dropdown>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-click="$event.preventDefault()">
                <strong>{{sideMenuManager.currentUser().email}}</strong>
                <span>
                    <i class="fa fa-chevron-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a tabindex="-1"  href="#" class="main-link" ng-click="showSettings($event)">
                        <i class="fa fa-cog"></i> Settings
                    </a>
                </li>
                <li>
                    <a tabindex="-1"  href="#" class="main-link" ng-click="showLogoutConfirm($event)">
                        <i class="fa fa-lock fa-lg"></i> Log out
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <button type="button" class="navbar-toggle pull-left" id="sidebarToggle" side-menu-display-toggle>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button type="button" class="navbar-toggle pull-left hide-menu" id="menuToggle" side-menu-hide-toggle>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a ng-repeat="app in modulesManager.cloudApps()" class="cloud-app" ng-href="{{'/#!' + app.link}}" ng-click="switchCloudApp(app)" ng-class="{'active': isAppActive(app)}">
        <img ng-src="{{app.img}}">
    </a>
    <div class="top-nav-title-wrapper">
        <div class="top-nav-title" linked-text="route.current.fullTitle || route.current.title"></div>
    </div>
</div>