.user-create {
  .form-inline {
    margin-top: 5px;
    margin-bottom: 5px;

    label {
      width: 150px;
    }

    .form-control {
      width: 300px;
    }
  }

  button {
    float: right;
    width: 150px;
  }
}