<div class="user-create padding-md">
    <div ng-if="model" widget-panel="userCreatePanel">
        <div class="form-inline">
            <label>First name: </label>
            <input ng-model="model.first_name" type="text" class="avanan-square form-control">
        </div>
        <div class="form-inline">
            <label>Last name: </label>
            <input ng-model="model.last_name" type="text" class="avanan-square form-control">
        </div>
        <div class="form-inline">
            <label>Email: </label>
            <input ng-model="model.email" type="text" class="avanan-square form-control">
        </div>
        <div class="form-inline">
            <label>Description: </label>
            <input ng-model="model.description" type="text" class="avanan-square form-control">
        </div>
        <button class="btn btn-blue" ng-click="save()">{{isNew ? 'Create' : 'Update'}}</button>
    </div>
</div>