<div ng-if="tableModel" class="policy-allows padding-md">
    <div widget-panel="policyAllowsListPanel">
        <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
    </div>
</div>