<div class="condition-group" ng-class="{'root': root}">
    <div class="form-inline">
        <div ng-if="root != 'true'" selector="model.not" variants="notVariants" class="not-select"></div>
        <div selector="model.operator" variants="operatorVariants" class="operator-select"></div>
        <button ng-click="addCondition()" class="btn btn-sm btn-blue form-control"></span> Add Condition</button>
        <button ng-click="addGroup()" class="btn btn-sm btn-blue form-control"></span> Add Group</button>
        <button ng-if="root != 'true'" ng-click="remove()" class="btn btn-white remove-button form-control"><span class="fa fa-times"></span></button>
    </div>
    <div class="conditions-list">
        <div class="condition-wrapper" ng-repeat="condition in model.conditions">
            <div ng-if="condition.type === 'group'" condition-group="condition" options="options" property-types="propertyTypes" remove="condition.remove()"> </div>
            <div ng-if="condition.type === 'condition'" condition="condition" options="options" property-types="propertyTypes" remove="condition.remove()"></div>
        </div>
    </div>
</div>