.condition-group {
  margin: 0px 10px 0px 17px;
  padding: 1px 2px 2px 2px;
  border: 1px solid #d6d6d6;

  > .form-inline {
    > * {
      margin: 1px 0px;
    }
    .dropdown {
      height: 27px;
      display: inline-block;
      width: 52px;
      button {
        height: 100%;
        width: 100%;
        margin: 0px;
        background: #fff;
        color: #2980b9;
        border: 1px solid #2980b9;
        border-radius: 2px;
        font-size: 12px;

        position: relative;
        text-align: left;
        padding-left: 7px;
        padding-top: 5px;

        span {
          position: absolute;
          right: 4px;
          top: 8px;
          font-size: 8px;
        }

      }

      a {
        display: block;
        height: 22px;
      }
    }
  }

  .controls {
    float: right;
  }

  .conditions-list {
    .condition-wrapper {
      margin-top: 5px;
      position: relative;
      > div:before {
        content: '';
        position: absolute;
        left: 7px;
        width: 10px;
        height: calc(50% + 6px);
        height: -moz-calc(50% + 6px);
        height: -webkit-calc(50% + 6px);
        top: -6px;
        border-color: #2980b9;
        border-style: solid;
        border-width: 0 0 2px 2px;
      }
      &:not(:last-child) > div:after {
        content: '';
        position: absolute;
        left: 7px;
        top: 50%;
        width: 11px;
        height: 50%;
        border: 0 solid #2980b9;
        border-left-width: 2px;
      }
    }
  }

  select.invalid, .invalid input{
    border-color: #c0392b;
  }

  .btn.btn-blue {
    width: 97px;
  }

  .remove-button, .remove-button:hover, .filters > button, .filters > button:hover {
    width: 27px;
    vertical-align: top;
  }

//  > div > select {
//    background-color: #fff;
//    color: #2980b9;
//    border: 1px solid #2980b9;
//    border-radius: 2px;
//    height: 27px;
//  }
}

.root > .conditions-list  {
  padding-left: 0px;
}