<div class="padding-md" ng-class="wrapperClass">
    <div ng-if="widgetPolling" class="row" ng-repeat="row in widgetPolling.getRows()">
        <div ng-repeat="panel in row" ng-class="getSizeClasses(panel.size)">
            <div ng-if="panel.wrapper.type === 'widget-panel'" widget-panel="panel">
                <div widget-selector="panel"></div>
            </div>
            <div ng-if="panel.wrapper.type === 'none'" widget-selector="panel"></div>
        </div>
    </div>
</div>