.policy-template-options {
  .form-inline {
    margin-top: 5px;
    margin-bottom: 5px;

    label{
      width: 150px;
      vertical-align: top;
      padding-top: 8px;
    }

    .form-control {
      width: 300px;
    }
  }
  .template-selector, .template-description{
    width: 300px;
    min-height: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d5d7da;
    padding: 6px 12px;

    &.editable {
      cursor: pointer;
    }
  }
  .template-question {
    margin-top: 5px;
    margin-bottom: 5px;
    .condition {
      display: block;
      margin-left: 0px;
      border: none;
      .not-select, .property, .operator, .remove-button {
        display: none;
      }
      .value-selector {
        display: inline-block;
        width: 405px;
      }
      .filters > button {
        width: 27px;
      }
    }
  }
  .optional-action > div {
    margin: 5px 30px;
  }
  .nice-checkbox-text {
    font-weight: bold;
  }
}