.pretty-splitter {
  .vsplitter {
    width: 10px;
    background-color: #c6c8ca;
    overflow: hidden;

    &::before {
      margin-left: 2px;
      margin-top: 300px;
      content: "\f142";
      display: inline-block;
      font-family: FontAwesome;
      font-size: 26px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
    }
  }
}