<div class="report padding-md">
    <div ng-if="splitterOptions" splitter="splitterOptions" class="pretty-splitter">
        <div widget-panel="reportOptionsPanel" ng-show="showOptions">
            <div report-options="model.data"></div>
            <button class="btn btn-blue" ng-click="update()">Update</button>
        </div>
        <div widget-panel="resultsPanel" class="results-panel">
            <div ng-if="tableModel" class="query-results">
                <div class="avanan-table  vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
            </div>
        </div>
    </div>
</div>