<div class="modal-header">
    <button type="button" class="close" ng-click="close()">×</button>
    <h4>{{options.title || 'Alert dialog'}}</h4>
</div>
<div class="modal-body">
    <p ng-if="options.display == 'text'">{{message}}</p>
    <pre ng-if="options.display == 'json'">{{message | json}}</pre>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" ng-click="close()">Close</button>
</div>
