<div class="inline-list">
    <div ng-if="model.data.length === 1" linked-text="model.data[0]"></div>
    <div ng-if="model.data.length > 1" class="dropdown" dropdown>
        <a href="#" class="dropdown-toggle" dropdown-toggle>
            {{model.countText}}
            <span class="fa fa-chevron-down"></span>
        </a>
        <div class="dropdown-menu" role="menu">
            <div ng-repeat="data in model.data" linked-text="data"></div>
        </div>
    </div>
</div>