.inline-list {
  span.fa {
    font-size: 8px;
    position: absolute;
    right: -13px;
    top: 5px;
  }
  .dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
    left: auto;
    right: -20px;
  }

  &.medium-width .dropdown-menu {
    width: 250px;
  }

  &.point-prefix .dropdown-menu .linked-text:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f111";
    font-size: 6px;
    vertical-align: middle;
  }
}