<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>{{args.title}}</h4>
</div>
<div class="modal-body">
    <p>{{args.message}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-danger" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="ok()">{{args.okText}}</button>
</div>
