<div class="policy-create padding-md">
    <div ng-if="internalModel.loaded" widget-panel="policyOptionsPanel">
        <div ng-if="policyOptionsPanel.checkbox.value" policy-options="model" saas-list="internalModel.saasList" sources="internalModel.sources" properties="internalModel.properties"></div>
        <div ng-if="!policyOptionsPanel.checkbox.value" policy-template-options="model" sources="internalModel.sources" property-types="internalModel.propertyTypes" properties="internalModel.properties" action-types="internalModel.actionTypes"></div>
        <button class="btn btn-blue continue-button" ng-click="save()" ng-class="{'display-none': !isSaveVisible()}">Continue</button>
    </div>
</div>