.file-system-tree {
  .file-system-tree-node {
    > {
      vertical-align: middle;
    }
    span.fa {
      opacity: 0;
      &.expandable {
        cursor: pointer;
        opacity: 1;
      }
    }
    .node-title {
      display: inline-block;
      padding: 2px 5px;
      min-width: 150px;
      font-weight: 600;
      cursor: pointer;
      &.selected {
        background: #434a54;
        color: white;
      }
    }
    .file-system-tree-node {
      margin-left: 20px;
    }
  }
}