<div class="sub-button dropdown" dropdown>
    <div class="btn avanan-square dropdown-toggle" dropdown-toggle><span class="fa fa-tag"></span></div>
    <div ng-if="root" sub-menu="menus" menu-id="root" selected-id="model" menu-clicked="menuClicked(event, menuId, fullMenuId)"></div>
</div>