.alerts-tag {
  display: inline-block;
  text-transform: uppercase;
  font-family: open-sans, sans-serif;
  font-weight: 800;
  font-size: 10px;
  text-align: center;
  border-radius: 2px;
  padding: 1px 2px;
  height: 16px;
}