.meta-info {
  .file-meta-data, .folder-meta-data, .group-meta-data, .wildfire-scan-details {
    clear: both;
    .key {
      float: left;
      width: 200px;
      word-wrap: break-word;
    }
    .value {
      float: right;
      width: calc(100% - 200px);
      .linked-text span{
        float: left;
        text-align: left;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
  .user-meta-data, .application-meta-data {
    clear: both;
    .key {
      float: left;
      width: 220px;
      word-wrap: break-word;
    }
    .value {
      float: right;
      width: calc(100% - 220px);
      .linked-text span{
        float: left;
        text-align: left;
        width: 100%;
        word-wrap: break-word;
      }
    }
  }
}