<div class="meta-info">
    <div ng-repeat="data in model.data" ng-class="model.pair.class" ng-style="model.pair.style">
        <div ng-if="data.key" class="key" ng-class="model.key.class" ng-style="model.key.style">{{data.key}}:</div>
        <div ng-if="data.value" class="value" ng-class="model.value.class" ng-style="model.value.style" linked-text="data.value"></div>
        <div ng-if="data.button" ng-class="data.button.class" ng-style="data.button.style" ng-click="data.button.onClick()">{{data.button.label}}</div>
    </div>
</div>