<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>{{args.title}}</h4>
</div>
<div class="modal-body">
    <div ng-if="tableModel" ng-class="args.class" data-table="tableModel" options="args.tableOptions"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-danger" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" ng-click="ok()" ng-class="{'disabled':!haveSelection()}">{{args.okText}}</button>
</div>
