.app-store {
  position: relative;
  background: #e6e9eb;
  border-top: 1px solid #d5dce0;
  padding-top: 30px !important;
  > div > div, .multi-widget > div {
    padding: 0px;
  }

  .store-group {
    .hidden {
      display: none;
    }
  }


}