@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.params-modal {
  .parameter {
    font-size: 0px;
    margin: 5px 0px;
    .param-label {
      display: inline-block;
      font-size: 12px;
      height: 100%;
      width: 200px;
      padding-top: 9px;
      padding-right: 5px;
      vertical-align: top;
      text-align: right;
    }

    .form-param {
      display: inline-block;
      @include calc("width", "100% - 200px");
      > * {
        display: inline-block;
        width: 100%;
        font-size: 12px;
      }
    }
  }

  .action-repeat-options {
    margin: 5px 0px;
    .action-repeat-options-label {
      width: 169px;
      display: inline-block;
    }
    input {
      margin: 0px 3px;
    }
  }
}