<div class="store-item" >
    <div class="store-item-inner" ng-class="{'active': model.options.moduleStatus == 'active'}">
        <div class="img-wrapper">
            <div class="item-img" ng-style="{'background-image': 'url(' + path.img(model.options.img.path) + ')'}">
            </div>
        </div>
        <div class="item-info">
            <div class="title">{{model.options.title}}</div>
            <div class="description">{{model.options.description}}</div>
        </div>
        <div class="actions">
            <button class="btn btn-default" ng-if="enabled()" ng-click="install()">{{getButtonLabel()}}</button>
            <!--Prices temporary removed for demo-->
            <!--<div ng-if="isHavePrice() && !isFree()" class="price">Price: <span>{{getDollars()}}<span>{{getCents()}}</span></span>/ month</div>-->
            <!--<div ng-if="isHavePrice() && isFree()" class="price">Price: <span>FREE</span></div>-->
        </div>
        <img ng-if="model.options.moduleStatus == 'active'" class="active-check" ng-src="{{path.img('check.png')}}">
    </div>
</div>