.store-item {
  float: left;
  position: relative;
  padding: 5px 5px 5px 5px;
  width: 100%;
  min-width: 250px;
  background: #e6e9eb;

  overflow: hidden;

  .store-item-inner {
    box-shadow: 0 0 1px #b0bec5;
    -webkit-box-shadow: 0 0 1px #b0bec5;
    -moz-box-shadow: 0 0 1px #b0bec5;
    border-radius: 5px;
  }

  .active {
    .img-wrapper .item-img {
      opacity: 1;
    }

    .actions button {
      border-color: #b0bec5;
      background: #ffffff;
      color: #546e7a;
      font-weight: 400;
    }
  }

  .img-wrapper {
    border: 1px solid #d7d8d8;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    background: #f4f4f4;

    height: 155px;
    .item-img {
      width: 100%;
      height: 100%;
      background: no-repeat center;
      opacity: 0.5;
    }
  }

  .item-info {
    position: relative;
    border: 1px solid #d7d8d8;
    background: #ffffff;

    height: 115px;
    padding: 20px;

    .title {
      color: #455a64;
      font-weight: 600;
      font-size: 14px;
    }
    .description {
      color: #455a64;
      font-size: 12px;
    }
  }

  .actions {
    position: relative;
    border: 1px solid #d7d8d8;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    height: 60px;
    background: #ffffff;

    button {
      display: inline-block;
      border: 1px solid #66bb6a;
      border-radius: 19px;
      height: 38px;
      background: #66bb6a;
      color: #ffffff;
      font-weight: 600;
      margin: 10px 0px 10px 20px;
    }

    .price {
      float: right;
      display: block;
      margin: 8px 15px 0px 0px;
      vertical-align: sub;
      span {
        font-size: 24px;
        color: #66bb6a;

        span {
          vertical-align: super;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }

  .active-check {
    position: absolute;
    left: 35px;
    top: 35px;
  }
}