<div class="linked-text">
    <span ng-repeat-start="part in textParts" ng-if="part.display === 'text'" class="text" ng-class="part.class">{{part.data.text}}</span>
    <span ng-if="part.display === 'html'" class="html" ng-class="part.class" ng-bind-html="part.data.text"></span>
    <a ng-if="part.display === 'link'" class="link" ng-href="{{part.data.path}}" ng-click="processClick($event, part)" ng-class="part.class">{{part.data.text}}</a>
    <a ng-if="part.display === 'external-link'" class="link" ng-href="{{part.data.href}}" target="_blank" ng-class="part.class">{{part.data.text}}</a>
    <img ng-if="part.display === 'img'" title="{{part.data.text}}" ng-src="{{part.data.path}}" default-src="part.data.defaultPath" qtip2="part.data.tooltip" ng-class="part.class">
    <div ng-if="part.display === 'flot'" flot="part.data.flot" ng-class="part.class"></div>
    <div ng-if="part.display === 'inline-list'" inline-list="part.data" ng-class="part.class"></div>
    <div ng-if="part.display === 'linked-text'" linked-text="part.data.text" ng-class="part.class"></div>
    <div ng-if="part.display === 'odometer'" odometer="part.data.text" options="part.data.odometer"></div>
    <div ng-repeat-end ng-if="part.display === 'stacked-progress'" stacked-progress="part.data"></div>
</div>