<div ng-if="initialized" class="policy-root-cause-view padding-md">
    <div widget-panel="resultsPanel" class="results-panel">
        <div ng-if="tableModel" class="query-results">
            <div class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
        </div>
    </div>
</div>