<div class="actions">
    <div ng-repeat="action in model.actions">
        <button class="btn" ng-class="action.class" ng-style="action.style" ng-click="action.onClick()">{{action.label}}</button>
        <div class="seperator"></div>
    </div>
</div>