<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
        <div class="h5">Sorry, Something went wrong</div>
        <h1 class="m-top-none error-heading">500</h1>

        <p class="font-14">The server encountered an unexpected condition which prevented it from fulfilling the request.</p>
        <h4 class="text-danger"><i class="fa fa-wrench"></i> But we are working on it!</h4>

        <div class="m-bottom-md">Try searching for the page here</div>
        <div class="input-group m-bottom-md">
            <input class="form-control input-sm" placeholder="search here..." type="text">
						<span class="input-group-btn">
							<button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
						</span>
        </div>
        <a class="btn btn-success m-bottom-sm" href="/#!/"><i class="fa fa-home"></i> Back to Dashboard</a>
        <a class="btn btn-success m-bottom-sm" href="contact.html"><i class="fa fa-envelope"></i> Contact Us</a>
    </div>
</div>