<div ng-if="model" class="panel" ng-class="model.wrapper.class" ng-style="model.wrapper.style">
    <div class="panel-heading" qtip2="model.wrapper.tooltip" ng-click="minimizeToggle()">
        <div ng-if="model.wrapper.leftButton" class="left-label-button btn"
             ng-class="model.wrapper.leftButton.class"class="btn"
             ng-click="model.wrapper.leftButton.onclick()">{{model.wrapper.leftButton.label()}}</div>

        <div class="panel-actions" ng-click="$event.stopPropagation()">
            <div ng-if="model.wrapper.checkbox" nice-checkbox="model.wrapper.checkbox.value" text="model.wrapper.checkbox.text" ng-class="model.wrapper.checkbox.class"></div>
            <input ng-if="model.wrapper.filter" type="text" class="form-control avanan-square" ng-model="model.wrapper.filter.value" placeholder="{{model.wrapper.filter.placeholder}}">
            <div ng-if="model.wrapper.filters" class="btn-group btn-filters" dropdown>
                <i class="multiselect fa fa-cogs" data-toggle="dropdown" dropdown-toggle></i>
                <div select-dropdown="model.wrapper.filters" on-change="filterChanged(option)"></div>
            </div>
            <div ng-if="model.wrapper.settings" class="btn-setting" ng-click="showSettings()"><i class="fa fa-wrench"></i></div>
            <div ng-if="model.wrapper.minimize" class="btn-minimize" ng-click="minimizeToggle()"><i class="fa" ng-class="minimized ? icons.expand : icons.minimize"></i></div>
            <div ng-if="model.wrapper.close" class="btn-close" ng-click="close()"><i class="fa fa-times"></i></div>
        </div>
        <div ng-if="model.wrapper.progress" class="widget-progress" stacked-progress="model.wrapper.progress"></div>
        <h2><i class="fa fa-check"></i>{{model.wrapper.title}}</h2>
        <div ng-if="model.wrapper.tag" class="tag">{{model.wrapper.tag}}</div>
    </div>

    <div class="panel-body" ng-style="model.bodyStyle">
        <p ng-if="model.wrapper.description" class="description">
            <small>{{model.wrapper.description}}</small>
        </p>
        <br ng-if="model.wrapper.description">
        <div ng-transclude></div>
    </div>
</div>