.panel {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  margin-bottom:30px;

  &.no-margin {
    margin-bottom: 0px;
  }

  &.single-widget > .panel-body {
    min-height: 300px;
  }

  .panel-heading{
    line-height:40px;
    padding:0 15px;
    min-height:40px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-bottom:1px solid #d4d4d4;
    position:relative;
    -webkit-box-shadow:inset 0 0 1px 1px #fff;
    -moz-box-shadow:inset 0 0 1px 1px #fff;
    box-shadow:inset 0 0 1px 1px #fff;
  }

  .panel-heading {
    i {
      color: #a6a6a3;
      width: 30px;
      display: inline-block;
      font-size: 14px;
    }

    h2, h3{
      display:inline-block;
      margin:0;
      color:#333;
      text-transform:uppercase;
      font-weight:500;
      font-size:12px;
    }

    .left-label-button {
      display: inline-block;
      margin-right: 10px;
    }

    .panel-title{
      display:inline-block;
    }

    .switch{
      margin:10px;
    }

    .widget-progress {
      display: inline-block;
      float: right;
    }

    .panel-actions{
      display: inline-block;
      margin-right: -15px;
      float: right;
      background: inherit;
      border-left:1px solid white;
      height:40px;
      font-size:0;

      i{
        display:inline-block;
        color:#a6a6a3;
        text-align:center;
        width:40px;
        -webkit-transition:all .1s ease-in-out;
        -moz-transition:all .1s ease-in-out;
        -ms-transition:all .1s ease-in-out;
        -o-transition:all .1s ease-in-out;
        transition:all .1s ease-in-out;
        text-decoration:none;
        font-size:14px;
      }

      div {
        display:inline-block;
        height:30px;
        width:44px;
        border-left:1px solid #d4d4d4;
        text-align:center;
        -webkit-box-shadow:inset 0 0 1px 1px #fff;
        -moz-box-shadow:inset 0 0 1px 1px #fff;
        box-shadow:inset 0 0 1px 1px #fff;
        cursor: pointer;
        vertical-align: middle;
      }

      input {
        display:inline-block;
        height: 25px;
        line-height: 20px;
        margin-right: 5px;
        width: 200px;
        vertical-align: middle;
      }

      .btn-filters .select-dropdown {
        right: 0px;
        left: auto;
      }
    }

    .label.pull-right, .badge.pull-right {
      margin:11px 0;
    }
  }

  .panel-body {
    overflow: auto;
    &.no-padding {
      padding: 0
    }

    &.padding-horizontal{
      padding:0 15px
    }

    &.no-padding-bottom{
      padding-bottom:0
    }
  }

  .panel-footer{
    background:white;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-top:1px solid #d4d4d4;
    position:relative;
    -webkit-box-shadow:inset 0 0 1px 1px #fff;
    -moz-box-shadow:inset 0 0 1px 1px #fff;
    box-shadow:inset 0 0 1px 1px #fff
  }

  &.panel-default {
    border:1px solid #d4d4d4;
    -webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);
    -moz-box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);
    box-shadow:0 2px 1px -1px rgba(0,0,0,0.1);

    .panel-heading, .panel-footer {
      background:#f5f5f5
    }
  }

  &.panel-primary {
    border-color:#20a8d8;
    .panel-heading, .panel-footer {
      background:#5dc3e7;
      color:#092f3d;
      border-color:#20a8d8;
    }
  }

  &.panel-success {
    border-color:#79c447;
    .panel-heading, .panel-footer {
      background:#a3d781;
      color:#284315;
      border-color:#79c447
    }
  }

  &.panel-info {
    border-color:#67c2ef;
    .panel-heading, .panel-footer{
      background:#acdef6;
      color:#106894;
      border-color:#67c2ef
    }
  }

  &.panel-warning {
    border-color:#fabb3d;
    .panel-heading, .panel-footer {
      background:#fcd588;
      color:#815703;
      border-color:#fabb3d
    }
  }

  &.panel-danger {
    border-color:#ff5454;
    .panel-heading, .panel-footer {
      background:#ffa1a1;
      color:#a10000;
      border-color:#ff5454
    }
  }

  &.left-controls {
    h2 i {
      display: none;
    }

    .panel-actions{
      float: none;
      margin-right: 15px;
      margin-left: -15px;
      div {
        border: none;
        border-right:1px solid #d4d4d4;
      }
    }
  }

  &.light {
    font-family: "Open Sans", sans-serif;
    &.color1 {
      $color: #2980b9;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color2 {
      $color: #16a085;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color3 {
      $color: #9bbb59;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color4 {
      $color: #f39c12;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }
    &.color5 {
      $color: #f35428;
      border-top: 4px solid $color;
      .tag {
        background: $color;
      }
      .panel-body {
        color: $color;
      }
    }

    &.white-body > .panel-body {
      padding: 15px;
      background: #fff;
      border-bottom: 1px solid #d5d7da;
    }

    &.white-header > .panel-heading {
      background: #fff;
    }

    background: #f9f9f9;
    border: none;
    border-top: 4px solid #d5d7da;
    > .panel-heading {
      border-bottom: 1px solid #d5d7da;

      h2 {
        font-weight: bold;
        color: #30343c;
        i {
          display: none;
        }
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        div {
          border: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 0px;

      .description {
        color: #30343c
      }
    }
  }

  &.avanan {
    font-family: open-sans, sans-serif;

    &.color1 {
      $color: #2980b9;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #5297c5;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color2 {
      $color: #16a085;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #43b19b;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color3 {
      $color: #89b041;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #9fbe65;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color4 {
      $color: #f39c12;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid #f5b041;
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.color5 {
      $color: #f35428;
      .panel-heading {
        background-color: $color;
        border-bottom: 1px solid rgb(255, 125, 89);
      }
      .panel-body {
        background-color: $color ;
      }
    }

    &.white-body > .panel-body {
      padding: 15px;
      background: #fff;
      border-bottom: 1px solid #d5d7da;
    }

    &.white-header > .panel-heading {
      background: #fff;
    }

    background: #f9f9f9;
    > .panel-heading {
      background-color: #434a54;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      h2 {
        font-weight: bold;
        color: #fff;
        i {
          display: none;
        }
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        div {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 0px;

      .description {
        color: #30343c
      }
    }
  }

  &.solid-avanan {
    background: #f0eff5;
    border-top: 1px solid #d5d7da;
    border-bottom: 1px solid #d5d7da;
    > .panel-heading {
      background-color: #f0eff5;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-bottom: none;

      h2 {
        font-weight: bold;
        color: #434a54;
        i {
          display: none;
        }
      }

      .tag {
        color: #FFF;
        float: right;
        height: 16px;
        line-height: 10px;
        font-size: 10px;
        font-weight: bold;
        padding: 3px 7px;
        margin-top: 10px;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        div {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
          }
        }
      }
    }

    > .panel-body {
      padding: 10px;

      .description {
        color: #30343c
      }
    }
  }

  &.store-group {
    margin: 5px 15px 50px 15px;
    background: #e6e9eb;
    > .panel-heading {
      padding-left: 30px;
      border: 1px solid #d7d8d8;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0 0 1px #b0bec5;
      -webkit-box-shadow: 0 0 1px #b0bec5;
      -moz-box-shadow: 0 0 1px #b0bec5;
      margin-right: 4px;
      height: 60px;

      .panel-actions {
        border: none;
      }

      h2 {
        font-size: 12px;
        line-height: 60px;
        font-weight: 600;
        text-transform: uppercase;
        color: #455a64;
        i {
          display: none;
        }
      }
    }

    > .panel-body {
      padding: 15px 0 0 0;
      margin-left: -5px;
      background: #e6e9eb;
      overflow: visible;
    }
  }

  &.expandable-group {
    > .panel-heading {
      background-color: #f5f6f6;
      border: none;
      h2 {
        text-transform: none;
      }

      .panel-actions {
        border: none;
        padding-right: 5px;
        margin-right: 0px;
        div {
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          width: 20px;
          i {
            width: auto;
            color: #2980b9;
            margin-left: 7px;
          }
        }
      }
    }
    > .panel-body {
      padding: 0px;
      background-color: #fff;
    }
  }

  &.panel-minimized .panel-body{
    display:none;
  }

  .btn-filters {
    vertical-align: top;
  }

  &.overflow-auto .panel-body {
    overflow: auto;
  }
}

