<aside ng-if="!sideMenuManager.fullscreen()" skinned class="fixed">
    <a href="/#!/" class="logo">
        <img ng-src="{{root.img('logo.png')}}"/>
    </a>
    <div search-box></div>
    <div class="sidebar-inner scrollable-sidebar" slimscroll="{height: '100%', size: '0px'}">
        <div main-menu></div>
    </div>
</aside>