aside.skin-light {
  background: #434a54;

  .logo {
    display: block;
    padding: 43px 47px 63px 48px;
    img {
      width: 124px;
      height: 44px;
    }

    &:hover {
      background: #30343c;
      color: #fff;
    }
  }

  .slimScrollDiv {
    height: calc(100% - 198px) !important;
    height: -webkit-calc(100% - 198px) !important;
    height: -moz-calc(100% - 198px) !important;
  }
}