<ul class="widgets-pagination pagination pagination-xs m-top-none pull-right">
    <li ng-repeat="page in pages" ng-if="page.value"
        ng-class="{'active': page.active, 'disabled': !page.enabled}">
        <a ng-href="{{'/#!' + page.value}}">{{page.title}}</a>
    </li>
</ul>