.avanan-info-box {
  padding: 10px 15px 5px;
  color: #fff;
  .count, .message, .count-odometer {
    display: inline-block;
    clear: both;
    float: left;
    &.right {
      clear: right;
      float: right;
      text-align: right;
    }
  }

  .count {
    font-size: 30px;
    font-weight: 600;

    a {
      color: white;
    }
  }

  .av-check {
    float: right;
    margin-top: 2px;
  }

  .count-odometer {
    font-size: 26px;
  }

  .message {
    font-size: 10px;
  }

  &:after {
    content:'';
    display:block;
    clear: both;
  }
}