[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btn.btn-blue, .btn.btn-blue:hover{
  background-color: #2980b9;
  color: #fff;
  height: 27px;
  border: 0px;
  font-size: 11px;
  font-weight: 600;
  border-radius: 2px;

  &.active {
    background-color: #255484;
  }
}

.btn.btn-white, .btn.btn-white:hover {
  background-color: #fff;
  color: #434a54;
  border: 1px solid #434a54;
  border-radius: 2px;
  height: 27px;
  font-size: 10px;
  padding: 0px;
}

.btn.btn-selector, .btn.btn-selector:hover {
  background-color: #fff;
  border: 1px solid #d5d7da;
  height: 34px;
  border-radius: 0px;
  font-size: 12px;
}

.avanan-square {
  background-color: #fff;
  border: 1px solid #d5d7da;
  height: 34px;
  border-radius: 0px !important;

  -webkit-box-shadow: none;
  box-shadow: none;
}

.zero-opacity {
  opacity: 0;
}

@media (max-width: 767px) {
  .col-xs-clearfix {
    clear: both;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-clearfix {
    clear: both;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-clearfix {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .col-lg-clearfix {
    clear: both;
  }

  .col-lg-no-right-padding {
    padding-right: 0px;
    .panel {
      padding-right: 15px;
    }
  }
  .col-lg-no-left-padding {
    padding-left: 0px;
    .panel {
      padding-left: 15px;
    }
  }
}