@mixin font-face($family, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("/assets/fonts/#{$family}/#{$file-name}.eot");
    src: url("/assets/fonts/#{$family}/#{$file-name}.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/#{$family}/#{$file-name}.woff") format("woff"),
    url("/assets/fonts/#{$family}/#{$file-name}.ttf") format("truetype"),
    url("/assets/fonts/#{$family}/#{$file-name}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

// Open Sans
@include font-face(open-sans, light, 200);
@include font-face(open-sans, light-italic, 200, italic);
@include font-face(open-sans, regular); // 400
@include font-face(open-sans, regular, normal, italic); // 400
@include font-face(open-sans, semibold, 600);
@include font-face(open-sans, semibold-italic, 600, italic);
@include font-face(open-sans, bold, bold); // 700
@include font-face(open-sans, bold-italic, bold, italic); // 700
@include font-face(open-sans, extrabold, 800);
@include font-face(open-sans, extrabold-italic, 800, italic);

// Open Sans Condensed
@include font-face(open-sans-condensed, light, 200);
@include font-face(open-sans-condensed, light-italic, 200, italic);
@include font-face(open-sans-condensed, bold, bold); // 700