.table {
  .user-name {
    display: block;
  }
  .user-email {
    font-size: 12px;
  }
}

html {
  height: 100%;
  overflow: visible;
}

body {
  height: 100%;
  overflow: visible;
  background: url('/assets/auth/controllers/auth/images/background.png');
}

.display-none {
  display: none !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-block {
  display: block !important;
}

img.icon-16px {
  width: 16px !important;
  height: 16px !important;
}

.action-img {
  &.pending {
    opacity: 0.5;
  }
}
.action-img-with-status {
  display: inline-block;
}
.action-status {
  vertical-align: super;
  margin-left: -10px;
}