.info-box {
  min-height: 140px;
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 20px;
  color: white;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);

  img {
    display: block;
    height: 100px;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    float: left;
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    margin-right: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.75);
  }

  .count {
    margin-top: -10px;
    font-size: 34px;
    font-weight: 700;
  }

  .title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .desc {
    margin-top: 10px;
    font-size: 12px;
  }

  &.danger {
    background: #ff5454;
    border: 1px solid #ff2121;
  }

  &.warning {
    background: #fabb3d;
    border: 1px solid #f9aa0b;
  }

  &.primary {
    background: #20a8d8;
    border: 1px solid #1985ac;
  }

  &.info {
    background: #67c2ef;
    border: 1px solid #39afea;
  }

  &.success {
    background: #79c447;
    border: 1px solid #61a434;
  }
}