.light-info-box {
  padding: 15px;
  font-size: 12px;
  .count {
    font-size: 30px;
    font-weight: bold;
  }
  .bold-message {
    display: inline-block;
    color: #30343c;
    font-weight: bold;
  }
  .message {
    display: inline-block;
    color: #30343c;
  }
  .total {
    float: right;
    font-weight: bold;
  }
}