<div class="report-create padding-md">
    <div widget-panel="reportOptionsPanel">
        <div report-options="model.data"></div>
        <button class="btn btn-blue" ng-click="save()" ng-class="{'display-none': !isSaveVisible()}">Continue</button>
    </div>
</div>