<div class="file-system-tree-node">
    <span class="fa" ng-class="getButtonClass()" ng-click="toggle()"></span>
    <div class="node-title" ng-class="{'selected': selected}" ng-click="select()" linked-text="node[options.labelField]"></div>
    <div ng-repeat="node in nodes" file-system-tree-node="model" node="node" options="options">
    </div>
</div>