.policy-options {
  .form-inline {
    margin-top: 5px;
    margin-bottom: 5px;

    label {
      width: 150px;
    }

    .form-control {
      width: 300px;
    }
  }
  .object-type-selector, .saas-selector{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
  }
}