<div class="policy-options">
    <div class="form-inline">
        <label>SaaS: </label>
        <div selector="internal.saas" variants="getSaasVariants()"
             change="onSaasChange()" class="saas-selector"></div>
    </div>
    <div class="form-inline">
        <label>Object type: </label>
        <div selector="internal.entityType" variants="getSourceVariants()"
             no-variants-caption="Please select SaaS first" change="onEntityTypeChange()"
             class="object-type-selector"></div>
    </div>
    <div class="form-inline">
        <label>Policy name: </label>
        <input ng-model="model.name" type="text" class="avanan-square form-control">
    </div>
    <div class="form-inline">
        <label>Policy description: </label>
        <textarea ng-model="model.description" class="avanan-square form-control"></textarea>
    </div>
</div>