.condition {
  margin: 5px 10px 0px 17px;
  padding: 1px;
  border: 1px solid #d6d6d6;
  max-width: 441px;
  display: inline-block;
  > * {
    margin: 1px 0px;
  }
  .property {
    display: inline-block;
    width: 187px;
  }
  .operator {
    width: 162px;
  }
  .not-select {
    display: inline-block;
    width: 49px;
  }
  .value-selector {
    display: inline-block;
    width: 371px;

    .select2-container {
      width: 100%;
    }
  }
  .controls {
    float: right;
  }
  > .dropdown {
    > button {
      margin-left: 0px;
      width: 100%;
      position: relative;
      text-align: left;
      padding-left: 7px;
      padding-top: 8px;
      span {
        position: absolute;
        right: 4px;
        top: 12px;
        font-size: 8px;
      }
    }
    a {
      display: block;
      height: 22px;
    }
    display: inline-block;
  }
  .invalid input{
    border-color: #c0392b;
  }
  .filters, .remove-button {
    vertical-align: top;
    margin: 4px 0px;
  }
}