<div class="condition">
    <div text-check-box="model.not" check-label="NOT" class="not-select"></div>
    <div class="property" sub-selector="options.properties" ng-model="internal.property" ng-class="{'invalid':invalid.property}"></div>
    <div ng-hide="isOperatorHidden(internal.property)" ng-if="model.property" selector="internal.operatorLabel" variants="getOperatorVariants(internal.property)" class="operator"></div>

    <div ng-if="internal.operator.type && !model.options.data_is_property" class="value-selector">
        <input ng-if="internal.operator.type === 'single'" type="text" class="form-control avanan-square" ng-model="model.data">
        <div ng-if="internal.operator.type === 'double'" class="input-group form-inline">
            <span ng-if="internal.operator.firstLabel" class="input-group-addon">{{internal.operator.firstLabel}}</span>
            <input type="text" class="form-control avanan-square" ng-model="model.data.first">
            <span ng-if="internal.operator.secondLabel" class="input-group-addon">{{internal.operator.secondLabel}}</span>
            <span ng-if="!internal.operator.secondLabel" class="input-group-btn"></span>
            <input type="text" class="form-control avanan-square" ng-model="model.data.second">
        </div>
        <div ng-if="internal.operator.type === 'double-date'" class="input-group form-inline">
            <span ng-if="internal.operator.firstLabel" class="input-group-addon">{{internal.operator.firstLabel}}</span>
            <input datetime-picker ng-model="model.data.first avanan-square" type="text" class="form-control"/>
            <span ng-if="internal.operator.secondLabel" class="input-group-addon">{{internal.operator.secondLabel}}</span>
            <span ng-if="!internal.operator.secondLabel" class="input-group-btn" ng-model="model.data.second"></span>
            <input datetime-picker ng-model="model.data.second avanan-square" type="text" class="form-control"/>
        </div>
        <input ng-if="internal.operator.type === 'single-date'" datetime-picker ng-model="model.data" type="text" class="form-control avanan-square"/>

        <div ng-if="internal.operator.type === 'list'" list-selector="model.data" variants="getVariants(internal.property)"></div>
        <div ng-if="internal.operator.type === 'selector'" selector="model.data" variants="getVariants(internal.property)"></div>
    </div>

    <div ng-if="model.options.data_is_property" class="value-selector">
        <div sub-selector="options.properties" ng-model="model.data"></div>
    </div>

    <div ng-if="internal.options.length" class="btn-group filters">
        <button class="multiselect btn btn-white" data-toggle="dropdown">
            <i class="fa fa-cogs"></i>
        </button>
        <div select-dropdown="internal.options"></div>
    </div>
    <button ng-click="remove()" class="btn btn-white remove-button form-control"><span class="fa fa-times"></span></button>
</div>