<a href="" id="theme-setting-icon" ng-class="{'open': panelOpen}" ng-click="togglePanel()"><i class="fa fa-cog fa-lg"></i></a>
<div id="theme-setting" ng-class="{'open': panelOpen}">
    <div class="title">
        <strong class="no-margin">Skin Color</strong>
    </div>
    <div class="theme-box">
        <a ng-repeat="skin in skins" class="theme-color" ng-style="{background: skin.color}" ng-click="changeSkin(skin.name)"></a>
    </div>
    <div class="title">
        <strong class="no-margin">Sidebar Menu</strong>
    </div>
    <div class="theme-box">
        <label class="label-checkbox">
            <input type="checkbox" checked id="fixedSidebar" ng-model="fixedSideMenu" ng-click="changeFixed(fixedSideMenu)">
            <span class="custom-checkbox"></span>
            Fixed Sidebar
        </label>
    </div>
</div>