.remediation-actions {
  margin-top: 11px;
  margin-bottom: 5px;
  .action {
    margin-top: 10px;
    > .parameter, > .btn {
      margin-left: 2px;
    }
  }
  .configure {
    width: 70px;
  }
  .remove {
    width: 27px;
  }
  .selector {
    display: inline-block;
    width: 200px;
  }
}