@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -moz-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.form-param {
  .param-control {
    .property-string {
      width: 100%;
      font-size: 0px;

      > input {
        display: inline-block;
        font-size: 12px;
        @include calc("width", "100% - 45px");
      }

      > div {
        display: inline-block;
        font-size: 12px;
        width: 40px;
      }
    }
  }

  textarea {
    height: 300px;
  }

  .email-data {
    width: 100%;
    margin-bottom: 10px;

    span {
      width: 1%;
    }
  }

  .property-email-body {
    position: relative;
    .sub-button {
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 1;
    }
    .mce-menubar > div {
      margin-left: 40px;
    }
  }

  .radio-group {
    margin-bottom: 7px;
  }

  .cef-items {
    .item {
      float: left;
      margin-bottom: 5px;
      > * {
        width: 200px;
        margin-right: 5px;
        display: inline-block;
      }
      > button {
        vertical-align: top;
        margin: 4px 0px;
        width: 24px;
      }
      .property {
        margin-right: 2px;
        input {
          width: 175px;
        }
      }
    }
    .buttons {
      float: left;
    }

    .error {
      color: red;
      text-align: right;
    }
  }

  .tree-input {
    position: relative;
    overflow: visible;
    cursor: pointer;
    width: 300px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d5d7da;
    padding: 6px 12px;
  }
}