<div class="form-param">
    <div class="param-control">
        <div ng-if="param.type === 'property-string'" class="property-string">
            <div sub-button="resolvedProperties" on-click="addProperty(menuId)"></div>
            <input type="text" ng-model="internal.model" class="form-control avanan-square"/>
        </div>
        <div ng-if="param.type === 'property'" class="property" sub-selector="resolvedProperties" ng-model="internal.model"></div>
        <input ng-if="param.type === 'string'" type="text" ng-model="internal.model" class="form-control avanan-square"/>
        <input ng-if="param.type === 'integer'" type="text" integer-restriction ng-model="internal.model" class="form-control avanan-square"/>
        <input ng-if="param.type === 'password'" type="password" ng-model="internal.model" class="form-control avanan-square"/>
        <textarea ng-if="param.type === 'email-body'" tinymce="emailOptions" tinymce-model="internal.model" tags="emailTags" class="form-control"></textarea>
        <div ng-if="param.type === 'property-email-body'" class="property-email-body">
            <div sub-button="resolvedProperties" on-click="addProperty(menuId, true)"></div>
            <textarea tinymce="emailOptions" tinymce-model="internal.model" tags="emailTags" class="form-control"></textarea>
        </div>
        <div ng-if="param.type === 'boolean'">
            <input type="checkbox" ng-model="internal.model">
            <span class="custom-checkbox"></span>
        </div>
        <div ng-if="param.type === 'tree'">
            <div class="tree-input avanan-square" ng-click="openTreeModal()">
                <div linked-text="internal.model[param.options.labelField] || 'Click to select...'"></div>
            </div>
        </div>

        <div ng-if="param.type === 'event-type-list'" class="form-inline">
            <div list-selector="internal.model" variants="promiseresult.eventTypesVariants">
            </div>
        </div>
        {{promiseResult}}
        <div ng-if="param.type === 'datetime'" class="cef-items">
            <input datetime-picker ng-model="internal.model" type="text" class="form-control avanan-square"/>
        </div>
    </div>

    <div ng-if="param.type === 'email'">
        <div class="input-group form-inline email-data">
            <span class="param-label input-group-addon">To</span>
            <input type="text" ng-model="model.to" class="form-control param-data"/>
            <span class="param-label input-group-addon">CC</span>
            <input type="text" ng-model="model.cc" class="form-control param-data"/>
            <span class="param-label input-group-addon">Bcc</span>
            <input type="text" ng-model="model.bcc" class="form-control param-data"/>
        </div>
        <div class="input-group form-inline email-data">
            <span class="param-label input-group-addon">Subject</span>
            <input type="text" ng-model="model.subject" class="form-control param-data"/>
        </div>
        <textarea tinymce="emailOptions" tinymce-model="model.body" tags="emailTags" class="form-control param-data"></textarea>
    </div>

    <div ng-if="param.type === 'cef-items'" class="cef-items">
        <div ng-repeat="item in model" class="item">
            <input type="text" ng-model="item.id" placeholder="CEF key" class="form-control"/>
            <input ng-if="item.type === 'text'" type="text" ng-model="item.data" class="form-control"/>
            <div ng-if="item.type === 'property'" class="property" sub-selector="pages[page()].properties" ng-model="item.data"></div>
            <button class="btn btn-white" ng-click="removeFromList(param, $index)"><span class="fa fa-times"></span></button>
        </div>
        <div class="buttons">
            <div class="btn btn-blue" ng-click="addToList(param, 'property')">Add property</div>
            <div class="btn btn-blue" ng-click="addToList(param, 'text')">Add text</div>
        </div>
    </div>

    <div ng-if="param.type === 'radio-group'" ng-repeat="button in param.buttons" class="radio-group">
        <input type="radio" ng-model="internal.model" value="{{button.value}}" ng-change="radioClick(button)">
        <span class="custom-radio"></span>{{button.label}}
    </div>

    <button ng-if="param.type === 'button'" ng-click="param.execute()" ng-class="param.class" class="btn">{{param.title}}</button>

    <p ng-if="param.type === 'message'">{{param.message}}</p>

    <p ng-if="param.error" class="error">{{param.error}}</p>
</div>