<div class="report-list padding-md">
    <div widget-panel="reportListPanel">
        <div ng-if="tableModel" class="avanan-table" data-table="tableModel" options="tableOptions"></div>
    </div>
</div>