<div class="policy-view padding-md">
    <div ng-if="viewerPanel" widget-panel="viewerPanel">
        <div ng-if="tableModel" class="avanan-table vertical-middle medium-icons" data-table="tableModel" options="tableOptions"></div>
    </div>
</div>
