<div ng-if="tableModel" class="policy-list padding-md">
    <input id="import-file" type="file" name="import-file" on-read-file="importFileReadComplete($fileContent)">
    <div widget-panel="policyListPanel">
        <div class="avanan-table" data-table="tableModel" options="tableOptions"></div>
    </div>
</div>