<div id="wrapper" ng-class="{'fullscreen': sideMenuManager.fullscreen()}">
    <div top-navigation></div>
    <div id="main-container" ng-class="{'fullscreen': sideMenuManager.fullscreen()}">
        <div ng-if="paginationOptions" widgets-pagination="widgetPolling.getPagination()" options="paginationOptions"></div>
        <div id="ng-view" ng-view></div>
        <div ng-if="showBottomPagination && paginationOptions" widgets-pagination="widgetPolling.getPagination()" options="paginationOptions"></div>
    </div>
    <div side-menu></div>
    <div scroll-to-top></div>
    <div logout-confirm></div>
</div>