#wrapper {
  #ng-view {
    clear: both;
  }

  &.fullscreen {
    overflow: visible;
    min-height: 0px;
  }

  #main-container.fullscreen {
    margin-left: 0px;
    min-height: 0px;
    padding: 0px;
  }
}