<div class="settings padding-md">
    <div class="change-password">
        <div class="form-group">
            <span class="password-label">Current password:</span>
            <input type="password" class="avanan-square" placeholder="Current password" ng-model="changePasswordModel.oldPassword">
            <span ng-if="error.oldPassword" qtip2="error.oldPassword" class="verification fa fa-exclamation-circle"></span>
        </div>
        <div class="form-group">
            <span class="password-label">New password:</span>
            <input type="password" class="avanan-square" placeholder="New password" ng-model="changePasswordModel.newPassword">
            <span ng-if="error.newPassword" qtip2="error.newPassword" class="verification fa fa-exclamation-circle"></span>
        </div>
        <div class="form-group">
            <span class="password-label">Repeat password:</span>
            <input type="password" class="avanan-square" placeholder="Repeat password" ng-model="changePasswordModel.repeatPassword">
            <span ng-if="error.repeatPassword" qtip2="error.repeatPassword" class="verification fa fa-exclamation-circle"></span>
        </div>
        <button class="btn btn-blue" ng-click="changePassword()">Change password</button>
    </div>
</div>