.settings {
  .change-password {
    width: 355px;

    .form-group {
      position: relative;
      margin-bottom: 5px;
      .password-label {
        display: inline-block;
        width: 150px;
        text-align: right;
      }
      input {
        display: inline-block;
        width: 200px;
        padding: 5px;
      }
      .verification {
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 20px;
        &.fa-exclamation-circle {
          color: #800000;
        }

        &.fa-check-circle {
          color: #008000;
        }
      }
    }
    button {
      width: 150px;
      margin-left: 203px;
    }
  }
}