.search-box {
  .input-group {
    .search-input {
      height: 30px;
      width: 200px;
      margin: 10px;
      padding: 5px;
    }

    span {
      position: absolute;
      right: 18px;
      top: 16px;
      color: #434a54;
      font-size: 17px;
      pointer-events: none;
      z-index: 2;
    }
  }

  .search-results {
    left: 9px;
    top: 40px;
    width: 400px;
    max-height: 400px;
    overflow-y: auto;
    display: block;
  }

  .table {
    margin-bottom: 0px;
    thead {
      display: none;
    }
  }
}