.stacked-progress {
  position: relative;
  width: 200px;
  margin-bottom: auto;

  .label, .bar-label {
    position: absolute;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    > span {
      text-align: center;
    }
  }
}