<div class="progress stacked-progress" ng-class="model.class" qtip2="model.tooltip">
    <div ng-if="model.label" class="label">
        <span>{{model.label}}</span>
    </div>
    <div ng-repeat="bar in model.data" class="progress-bar" ng-class="bar.class" qtip2="bar.tooltip" ng-style="{'width': bar.value * 100 / model.total + '%'}">
        <!--<div ng-if="model.label" class="bar-label">-->
            <!--<span>{{model.label}}</span>-->
        <!--</div>-->
    </div>
</div>