<div class="main-menu">
    <ul>
        <li ng-repeat="menu in menus" ng-class="{'openable': menu.submenu, 'active': menu.isActive()}">
            <a ng-href="{{menu.path()}}">
                <span class="menu-icon">
                    <i class="fa fa-lg" ng-class="menu.icon"></i>
                </span>
                <span class="text">{{menu.title}}</span>
                <span class="menu-hover"></span>
            </a>
        </li>
    </ul>
</div>