<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" msd-wheel="onWheel($event, $delta)">
    <li ng-repeat="subMenuId in subMenus track by $index" ng-class="{'dropdown-submenu': menus[subMenuId.nodeId].sub}" show-sub-menu="$index">
        <a ng-if="!subMenuId.separator" href="#" ng-class="{'selectable': menus[subMenuId.nodeId].selectable, 'hovered': hoveredSubMenu == $index}" ng-click="menuClickedWrapper($event, subMenuId)">
            <i ng-show="menus[subMenuId.nodeId].selectable" class="fa" ng-class="{'fa-circle-o': selectedId.fullId != subMenuId.fullId, 'fa-circle': selectedId.fullId == subMenuId.fullId}"></i>
            {{menus[subMenuId.nodeId].label}}
        </a>
        <div ng-if="!subMenuId.separator && hoveredSubMenu == $index && menus[subMenuId.nodeId].sub" sub-menu="menus" menu-id="subMenuId" selected-id="selectedId" depth="{{depth - 1}}" menu-clicked="menuClickedWrapper(event, menuId)" ng-style="{'top': getTopForMenu($index)}"></div>
        <div ng-if="subMenuId.separator" class="menu-separator"></div>
    </li>
    <li ng-if="isScrollUpEnabled() || isScrollDownEnabled()" class="scroll-buttons">
        <div class="buttons-center">
            <a class="fa fa-arrow-circle-o-down" href="#" ng-click="onScrollClick($event, -10)" ng-class="{'disabled': !isScrollDownEnabled()}"></a>
            <a class="fa fa-arrow-circle-o-up" href="#" ng-click="onScrollClick($event, 10)" ng-class="{'disabled': !isScrollUpEnabled()}"></a>
        </div>
    </li>
</ul>