.sub-button .dropdown-submenu, .sub-selector .dropdown-submenu{
  position: relative;

  > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  > .dropdown-menu {
    display: block;
  }

  > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  &:hover > a:after {
    border-left-color: #ffffff;
  }

  &:hover > a, > a.hovered {
    background: #3c8dbc;
    color: #fff;
  }

  &.pull-left {
    float: none;
  }

  &.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
}

.dropdown-menu {
  .scroll-buttons {
    font-size: 20px;
    .buttons-center {
      display: table;
      margin: 0px auto;
      a {
        width: 50%;
        display: inline-block;
        &.disabled {
          color: #999;
        }
      }
    }
  }
}